labcoreWS/Service References/srLabcoreTAT/IWSSolicitudesservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="IWSSolicitudesservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="RecResults0Request">
    <part name="xmlRes" type="xs:string" />
  </message>
  <message name="RecResults0Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="RecSolicitudes1Request">
    <part name="xmlSol" type="xs:string" />
  </message>
  <message name="RecSolicitudes1Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetResultPdf2Request">
    <part name="numorden" type="xs:string" />
  </message>
  <message name="GetResultPdf2Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetHL7Msg3Request">
    <part name="msg" type="xs:string" />
  </message>
  <message name="GetHL7Msg3Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="CambioEstado4Request">
    <part name="msg" type="xs:string" />
  </message>
  <message name="CambioEstado4Response">
    <part name="return" type="xs:string" />
  </message>
  <portType name="IWSSolicitudes">
    <operation name="RecResults">
      <input message="tns:RecResults0Request" />
      <output message="tns:RecResults0Response" />
    </operation>
    <operation name="RecSolicitudes">
      <input message="tns:RecSolicitudes1Request" />
      <output message="tns:RecSolicitudes1Response" />
    </operation>
    <operation name="GetResultPdf">
      <input message="tns:GetResultPdf2Request" />
      <output message="tns:GetResultPdf2Response" />
    </operation>
    <operation name="GetHL7Msg">
      <input message="tns:GetHL7Msg3Request" />
      <output message="tns:GetHL7Msg3Response" />
    </operation>
    <operation name="CambioEstado">
      <input message="tns:CambioEstado4Request" />
      <output message="tns:CambioEstado4Response" />
    </operation>
  </portType>
  <binding name="IWSSolicitudesbinding" type="tns:IWSSolicitudes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="RecResults">
      <soap:operation soapAction="urn:WSSolicitudesIntf-IWSSolicitudes#RecResults" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="RecSolicitudes">
      <soap:operation soapAction="urn:WSSolicitudesIntf-IWSSolicitudes#RecSolicitudes" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetResultPdf">
      <soap:operation soapAction="urn:WSSolicitudesIntf-IWSSolicitudes#GetResultPdf" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetHL7Msg">
      <soap:operation soapAction="urn:WSSolicitudesIntf-IWSSolicitudes#GetHL7Msg" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="CambioEstado">
      <soap:operation soapAction="urn:WSSolicitudesIntf-IWSSolicitudes#CambioEstado" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WSSolicitudesIntf-IWSSolicitudes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IWSSolicitudesservice">
    <port name="IWSSolicitudesPort" binding="tns:IWSSolicitudesbinding">
      <soap:address location="http://10.8.10.50:81/wsdl_pruebass/WSDLL.dll/soap/IWSSolicitudes" />
    </port>
  </service>
</definitions>