labcoreWS/Service References/srLabcoreResultados/LabLinkHUSI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebLabLinkHUSI.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebLabLinkHUSI.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoPdf">
    <xs:sequence>
      <xs:element minOccurs="0" name="Orden" nillable="true" type="tns:Orden" />
      <xs:element minOccurs="0" name="Paciente" nillable="true" type="tns:Paciente" />
      <xs:element minOccurs="0" name="ResultadoBase64" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoPdf" nillable="true" type="tns:ResultadoPdf" />
  <xs:complexType name="Orden">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoLabRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLabRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLabRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResConfidenciales" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResPendientes" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orden" nillable="true" type="tns:Orden" />
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
</xs:schema>