labcoreWS/Service References/srLabcoreResultados/LabLinkHUSI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.100.6:8123/LabCore/LabLinkHUSI.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://10.10.100.6:8123/LabCore/LabLinkHUSI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebLabLinkHUSI.dto" />
  <xs:element name="SetHl7">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHl7Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetHl7Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDFBase64">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDFBase64Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPDFBase64Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetPDFResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebLabLinkHUSI.dto" minOccurs="0" name="GetResultadoResult" nillable="true" type="q2:ResultadoPdf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>