labcoreWS/Service References/clienteDatosPcte/datosPaciente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://winpvtiws01:14100/datosPaciente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/husiWSGeneral.Modelos" />
  <xs:element name="datosXatencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroAtencion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datosXatencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/husiWSGeneral.Modelos" minOccurs="0" name="datosXatencionResult" nillable="true" type="q1:pacienteS1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>