labcoreWS/Service References/clienteDatosPcte/datosPaciente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/husiWSGeneral.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/husiWSGeneral.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pacienteS1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaEgreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
      <xs:element minOccurs="0" name="lugarIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocialEps" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoatencion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacionEgreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacionIngreso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pacienteS1" nillable="true" type="tns:pacienteS1" />
</xs:schema>